<!-- modals for displaying users -->
<section class="user-modal-background" ng-if='hideModal' ng-click='displayModal()'>



</section>

<section class="modal-user" ng-if='hideModal'>

<section class="modal-user-header">
  <div class="modal-user-header-text">Users</div>
</section>

  <section class="modal-user-cont">

    <div class="modal-user-base-info">

      <div class="modal-user-name">Name</div>

      <div class="modal-user-company">Company</div>

      <div class="modal-user-email">Email</div>

    </div>

    <div class="modal-user-cont-info"ng-repeat='user in users track by $index'>

      <input type="checkbox" value='yes' ng-model='user.checked'>

      <div>{{user.first_name}} {{user.last_name}}</div>

      <div>{{user.company_name}}</div>

      <div>{{user.email}}</div>

    </div>

</section>

  <div class="send-survey-cont">
    <button ng-click='sendSurvey()'>Send Survey</button>
  </div>

</section>

<!-- Content that is immediatly seen with all the surveys-->
<section class="admin-cont">

  <header class="admin-header">

    <div ui-sref='home'></div>

  </header>

  <section class="survey-cont">

    <div class="admin-survey-header">Surveys</div>

    <section class="admin-survey-cont">

      <section class="display-survey-cont">

        <div ng-repeat='survey in surveys' class="admin-survey-display">

          <div>{{survey.survey_name}}</div>

          <button>Update Survey</button>

          <button ng-click='displayModal(survey._id)'>Send to Users</button>

        </div>

      </section>

    </section>

    <section class="create-admin-cont">

      <button class="create-survey" ui-sref='createSurvey'>Create New Survey</button>

    </section>

  </section>

  <section class="footer-cont">
    <section class="footer-img-cont">

      <div class="footer-img"></div>

    </section>

    <section class="social-media-cont">

      <div class="social-media">
        <a href="https://www.facebook.com/DevMountain"><div class="facebook"></div></a>
        <a href="https://twitter.com/devmtn"><div class="twitter"></div></a>
        <a href="https://www.linkedin.com/company/devmountain"><div class="linked-in"></div></a>
        <a href="https://www.instagram.com/devmtn/"><div class="instagram"></div></a>
      </div>

    </section>
  </section>

</section>
