<section class="create-survey-cont">

  <!-- header/navbar section -->
  <header class="create-survey-header">

    <div class="logo-div" ui-sref='home'></div>

  </header>

  <!-- mid content section -->
  <section class="create-survey">

    <section class="create-survey-heading">Create a New Survey</section>

    <section class="create-survey-display">

      <section class="create-survey-input">

        <section class="survey-name-cont">Name your Survey: <input ng-model='surveyName' type='text' placeholder="Survey Name"></section>

        <section class="create-survey-input-display" ng-repeat='question in survey'>

          <div ng-bind-html='question.template' compile-template></div>

        </section>

        <div class="save-survey-button-cont"><button ng-click='savedSurvey()'>Save Survey</button></div>

      </section>

      <section class="create-survey-buttons">

        <button class="input-buttons" ng-click='yesOrNo()'>Yes or No</button>
        <button class="input-buttons" ng-click='multipleChoice()'>Multiple Choice</button>
        <button class="input-buttons" ng-click='ranking()'>Ranking</button>
        <button class="input-buttons" ng-click='textField()'>Text Field</button>

      </section>

    </section>

  </section>

  <!-- footer section -->
  <section class="footer-cont">
    <section class="footer-img-cont">

      <div class="footer-img"></div>

    </section>

    <section class="social-media-cont">

      <div class="social-media">
        <a href="https://www.facebook.com/DevMountain"><div class="facebook"></div></a>
        <a href="https://twitter.com/devmtn"><div class="twitter"></div></a>
        <a href="https://www.linkedin.com/company/devmountain"><div class="linked-in"></div></a>
        <a href="https://www.instagram.com/devmtn/"><div class="instagram"></div></a>
      </div>

    </section>
  </section>

</section>
