<section class="survey-questions">

  <div ng-repeat='question in survey'>
    <!-- <div>{{question.template}}</div> -->
    <div ng-bind-html="question.template"></div>
    <button ng-click="save('hello')">save</button>
  </div>

  <!-- <div ng-repeat='question in survey'>
    <input placeholder="question">
    <input type='checkbox'>Yes<br>
    <input type='checkbox'>no<br>
  </div> -->

</section>

<section class="survey-format">

  <button ng-click='yesOrNo()'>Yes or No</button>
  <button ng-click='multipleChoice()'>Multiple Choice</button>
  <button ng-click='ranking()'>Ranking</button>
  <button ng-click='textField()'>Text Field</button>

</section>
