<section class="create-survey-cont">

  <!-- header/navbar section -->
  <header class="create-survey-header">

    <div class="logo-div" ui-sref='home'></div>

  </header>

  <!-- mid content section -->
  <section class="create-survey">

    <section class="create-survey-heading">Create a New Survey</section>

    <section class="create-survey-display">

      <section class="create-survey-input">

        <section class="create-survey-input-display" ng-repeat='question in survey'>

          <div ng-bind-html='question.template' compile-template></div>

        </section>

      </section>

      <section class="create-survey-buttons">

        <button class="input-buttons" ng-click='yesOrNo()'>Yes or No</button>
        <button class="input-buttons" ng-click='multipleChoice()'>Multiple Choice</button>
        <button class="input-buttons" ng-click='ranking()'>Ranking</button>
        <button class="input-buttons" ng-click='textField()'>Text Field</button>

      </section>

    </section>

  </section>

  <!-- footer section -->
  <section class="footer-cont">
    <section class="footer-img-cont">

      <div class="footer-img"></div>

    </section>

    <section class="social-media-cont">

      <div class="social-media">
        <div class="facebook"></div>
        <div class="twitter"></div>
        <div class="linked-in"></div>
        <div class="instagram"></div>
        <div class="quora"></div>
      </div>

    </section>
  </section>

</section>
