
.user-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(102, 102, 102, 0.8); }

.modal-user {
  height: 80vh;
  width: 50%;
  top: 10vh;
  left: 25%;
  background: white;
  position: fixed;
  z-index: 200;
  text-align: center;
  border-radius: 10px; }
  .modal-user .modal-user-header {
    height: 10vh;
    width: 100%;
    text-align: center;
    position: relative; }
    .modal-user .modal-user-header .modal-user-header-text {
      color: #57BDE8;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 3em;
      position: absolute;
      top: 2.5vh;
      width: 100%;
      text-align: center; }
  .modal-user .modal-user-cont {
    background: #fff;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px; }
    .modal-user .modal-user-cont .modal-user-base-info {
      background: #a2a2a2;
      color: #292c2f;
      height: 5vh;
      width: 90%;
      text-align: left;
      padding-top: 1.5vh;
      margin: 2.5vh 0vh;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-radius: 10px; }
    .modal-user .modal-user-cont .modal-user-cont-info {
      background: #a2a2a2;
      color: #292c2f;
      height: 5vh;
      width: 90%;
      text-align: center;
      padding-top: 1.5vh;
      margin: 2.5vh 0vh;
      font-family: "Source Sans Pro", sans-serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-radius: 10px;
      position: relative; }
      .modal-user .modal-user-cont .modal-user-cont-info input {
        color: #57BDE8;
        position: absolute;
        top: 1.75vh;
        left: 5px; }
  .modal-user .modal-user-cont:hover {
    overflow: scroll; }
  .modal-user .send-survey-cont {
    height: 10vh;
    width: 100%; }
    .modal-user .send-survey-cont button {
      margin-bottom: 5%;
      width: 50%;
      height: 5vh;
      background: #57BDE8;
      margin: auto;
      border-radius: 10px;
      border: none; }
    .modal-user .send-survey-cont button:hover {
      cursor: pointer;
      background: #2AABE2; }

.admin-cont {
  height: 100vh;
  width: 100%; }
  .admin-cont .admin-header {
    background: #292c2f;
    height: 10vh;
    width: 100%;
    padding-top: 3vh; }
    .admin-cont .admin-header div {
      background: url("../../img/logo_whiteletters.png") center no-repeat;
      background-size: contain;
      height: 6vh;
      width: 20%;
      margin-left: 5%; }
  .admin-cont .survey-cont {
    background: #fff;
    height: 115vh;
    width: 100%;
    text-align: center; }
    .admin-cont .survey-cont .admin-survey-header {
      height: 10vh;
      padding-top: 5vh;
      width: 100%;
      text-align: center;
      top: 2vh;
      color: #57BDE8;
      font-size: 3em;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold; }
    .admin-cont .survey-cont .admin-survey-cont {
      height: 80vh;
      width: 70%;
      overflow: hidden;
      margin: auto;
      background: rgba(100, 100, 100, 0); }
      .admin-cont .survey-cont .admin-survey-cont .display-survey-cont {
        height: 60vh;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative; }
        .admin-cont .survey-cont .admin-survey-cont .display-survey-cont .admin-survey-display {
          height: 22vh;
          width: 30%;
          margin: auto;
          margin-top: 2.5vh;
          margin-bottom: 2.5vh;
          background: #a2a2a2;
          color: #292c2f;
          font-family: "Source Sans Pro", sans-serif;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-radius: 10px; }
          .admin-cont .survey-cont .admin-survey-cont .display-survey-cont .admin-survey-display div {
            font-size: 1.5em;
            margin: 1vh; }
          .admin-cont .survey-cont .admin-survey-cont .display-survey-cont .admin-survey-display button {
            height: 5vh;
            width: 50%;
            margin: auto;
            color: #292c2f;
            font-family: "Source Sans Pro", sans-serif;
            background: #57BDE8;
            border-radius: 7px;
            border: none; }
          .admin-cont .survey-cont .admin-survey-cont .display-survey-cont .admin-survey-display button:hover {
            background: #2AABE2;
            cursor: pointer; }
    .admin-cont .survey-cont .admin-survey-cont:hover {
      overflow: scroll; }
    .admin-cont .survey-cont .create-admin-cont {
      background: transparent;
      height: 10vh;
      width: 100%;
      text-align: center;
      margin: auto;
      margin-top: 3vh;
      margin-bottom: 3vh; }
      .admin-cont .survey-cont .create-admin-cont button {
        background: #57BDE8;
        height: 10vh;
        width: 40%;
        text-align: center;
        margin: auto;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 2em;
        color: #fff;
        border-radius: 10px;
        border: none; }
      .admin-cont .survey-cont .create-admin-cont button:hover {
        cursor: pointer;
        background: #2AABE2; }
  .admin-cont .footer-cont {
    height: 20vh;
    width: 100%;
    background: #292c2f;
    display: flex;
    flex-direction: row; }
    .admin-cont .footer-cont .footer-img-cont {
      width: 50%;
      height: 100%; }
      .admin-cont .footer-cont .footer-img-cont div {
        width: 50%;
        height: 100%;
        margin: auto;
        background: url("../../img/logo_whiteletters.png") no-repeat center;
        background-size: contain; }
    .admin-cont .footer-cont .social-media-cont {
      height: 20vh;
      width: 50%; }
      .admin-cont .footer-cont .social-media-cont .social-media {
        margin: auto;
        height: 10vh;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5vh; }
        .admin-cont .footer-cont .social-media-cont .social-media div {
          height: 35px;
          width: 35px;
          background: #33383b;
          margin-top: 2vh; }
        .admin-cont .footer-cont .social-media-cont .social-media div:hover {
          cursor: pointer; }
        .admin-cont .footer-cont .social-media-cont .social-media .facebook {
          background: url("../../img/icons/facebook.png") center no-repeat;
          background-size: cover; }
        .admin-cont .footer-cont .social-media-cont .social-media .twitter {
          background: url("../../img/icons/twitter.svg") center no-repeat;
          background-size: cover; }
        .admin-cont .footer-cont .social-media-cont .social-media .instagram {
          background: url("../../img/icons/instagram.svg") center no-repeat;
          background-size: cover; }
        .admin-cont .footer-cont .social-media-cont .social-media .linked-in {
          background: url("../../img/icons/linkedin.svg") center no-repeat;
          background-size: cover; }

.create-survey-cont {
  height: 150vh;
  width: 100%; }
  .create-survey-cont .create-survey-header {
    background: #292c2f;
    height: 10vh;
    width: 100%;
    padding-top: 3vh; }
    .create-survey-cont .create-survey-header .logo-div {
      background: url("../../img/logo_whiteletters.png") center no-repeat;
      background-size: contain;
      height: 6vh;
      width: 20%; }
  .create-survey-cont .create-survey {
    height: 120vh;
    width: 100%; }
    .create-survey-cont .create-survey .create-survey-heading {
      width: 100%;
      height: 10vh;
      color: #57BDE8;
      font-size: 3em;
      margin-top: 5vh;
      font-weight: bold;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif; }
    .create-survey-cont .create-survey .create-survey-display {
      width: 80%;
      height: 100vh;
      position: relative;
      margin: auto; }
      .create-survey-cont .create-survey .create-survey-display .create-survey-input {
        float: left;
        height: 100vh;
        width: 70%;
        overflow: hidden; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .survey-name-cont {
          width: 60%;
          height: 5vh;
          margin: auto;
          font-size: 1em;
          font-family: "Source Sans Pro", sans-serif;
          color: #292c2f; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .survey-name-cont input {
            width: 50%;
            height: 3vh;
            border-radius: 10px;
            border: solid #57BDE8 3px;
            text-align: center;
            font-size: 1em;
            font-family: "Source Sans Pro", sans-serif;
            color: #292c2f; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-survey-button-cont {
          width: 100%;
          height: 5vh; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-survey-button-cont button {
            width: 15%;
            margin-right: 42.5%;
            height: 5vh;
            background: #57BDE8;
            font-family: "Source Sans Pro", sans-serif;
            color: #292c2f;
            border: none;
            border-radius: 6px;
            font-family: "Source Sans Pro", sans-serif; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-survey-button-cont button:hover {
            background: #2AABE2;
            cursor: pointer; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .create-survey-input-display {
          height: 35vh;
          width: 90%;
          background: #a2a2a2;
          margin: auto;
          margin-top: 3vh;
          margin-bottom: 3vh;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .question-type {
          width: 95%;
          margin: auto;
          height: 7vh;
          color: #292c2f;
          font-size: 2em;
          font-family: "Source Sans Pro", sans-serif; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .yesorno-individual {
          margin-top: 7vh; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .question-wrapper {
          width: 90%;
          height: 7vh;
          margin: auto; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .question-wrapper input {
            width: 100%;
            height: 3vh;
            border-radius: 10px;
            border: solid #57BDE8 3px;
            font-size: 1em;
            font-family: "Source Sans Pro", sans-serif;
            color: #292c2f; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-button-wrapper {
          width: 10%;
          height: 5vh;
          margin: auto; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-button-wrapper button {
            width: 100%;
            height: 5vh;
            background: #57BDE8;
            font-family: "Source Sans Pro", sans-serif;
            color: #292c2f;
            border: none;
            border-radius: 6px;
            font-family: "Source Sans Pro", sans-serif; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .save-button-wrapper button:hover {
            background: #2AABE2;
            cursor: pointer; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .option-header {
          width: 90%;
          margin: auto;
          height: 5vh;
          color: #292c2f;
          font-size: 1.5em;
          font-family: "Source Sans Pro", sans-serif; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-input .option-wrapper {
          width: 90%;
          height: 5vh;
          margin: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          .create-survey-cont .create-survey .create-survey-display .create-survey-input .option-wrapper input {
            width: 45%;
            height: 3vh;
            border-radius: 10px;
            border: solid #57BDE8 3px;
            font-size: 1em;
            font-family: "Source Sans Pro", sans-serif;
            color: #292c2f; }
      .create-survey-cont .create-survey .create-survey-display .create-survey-input:hover {
        overflow: auto; }
      .create-survey-cont .create-survey .create-survey-display .create-survey-buttons {
        float: left;
        height: 40vh;
        width: 30%;
        position: fixed;
        top: 35vh;
        right: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background: #a2a2a2;
        border-radius: 10px; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-buttons .input-buttons {
          background: #57BDE8;
          width: 70%;
          border-radius: 7px;
          border: none;
          height: 5vh;
          margin: auto;
          margin: 2vh 0vh; }
        .create-survey-cont .create-survey .create-survey-display .create-survey-buttons .input-buttons:hover {
          background: #2AABE2;
          cursor: pointer; }
  .create-survey-cont .footer-cont {
    height: 20vh;
    width: 100%;
    background: #292c2f;
    display: flex;
    flex-direction: row; }
    .create-survey-cont .footer-cont .footer-img-cont {
      width: 50%;
      height: 100%; }
      .create-survey-cont .footer-cont .footer-img-cont div {
        width: 50%;
        height: 100%;
        margin: auto;
        background: url("../../img/logo_whiteletters.png") no-repeat center;
        background-size: contain; }
    .create-survey-cont .footer-cont .social-media-cont {
      height: 20vh;
      width: 50%; }
      .create-survey-cont .footer-cont .social-media-cont .social-media {
        margin: auto;
        height: 10vh;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5vh; }
        .create-survey-cont .footer-cont .social-media-cont .social-media div {
          height: 35px;
          width: 35px;
          background: #33383b;
          margin-top: 2vh; }
        .create-survey-cont .footer-cont .social-media-cont .social-media div:hover {
          cursor: pointer; }
        .create-survey-cont .footer-cont .social-media-cont .social-media .facebook {
          background: url("../../img/icons/facebook.png") center no-repeat;
          background-size: cover; }
        .create-survey-cont .footer-cont .social-media-cont .social-media .twitter {
          background: url("../../img/icons/twitter.svg") center no-repeat;
          background-size: cover; }
        .create-survey-cont .footer-cont .social-media-cont .social-media .instagram {
          background: url("../../img/icons/instagram.svg") center no-repeat;
          background-size: cover; }
        .create-survey-cont .footer-cont .social-media-cont .social-media .linked-in {
          background: url("../../img/icons/linkedin.svg") center no-repeat;
          background-size: cover; }

.home-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(102, 102, 102, 0.8); }

.login-input {
  height: 60vh;
  width: 35%;
  position: fixed;
  z-index: 100;
  left: 32.5%;
  top: 20vh;
  background: #fff;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif; }
  .login-input .sign-in-heading {
    height: 20%;
    width: 100%;
    text-align: center;
    padding-top: 10vh; }
    .login-input .sign-in-heading h1 {
      height: 50%;
      width: 100%;
      font-size: 2em;
      color: #57BDE8;
      text-align: center; }
  .login-input .sign-in-input {
    height: 40%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .login-input .sign-in-input input {
      height: 20%;
      width: 100%;
      margin: auto;
      border-color: #57BDE8;
      text-align: center;
      border-radius: 10px;
      font-size: 1em; }
    .login-input .sign-in-input button {
      background: #57BDE8;
      color: #fff;
      height: 20%;
      width: 40%;
      border-radius: 10px;
      margin: auto;
      font-size: 1.5em;
      border: none;
      font-family: "Source Sans Pro", sans-serif; }
    .login-input .sign-in-input button:hover {
      cursor: pointer;
      background: #2AABE2; }
  .login-input .home-modal-signin-footer {
    height: 40%;
    width: 100%;
    text-align: center; }
    .login-input .home-modal-signin-footer div {
      margin-top: 6vh; }
      .login-input .home-modal-signin-footer div span {
        color: #57BDE8; }
      .login-input .home-modal-signin-footer div span:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #2AABE2; }

.register-input {
  height: 80vh;
  width: 35%;
  position: fixed;
  z-index: 100;
  left: 32.5%;
  top: 10vh;
  background: #fff;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif; }
  .register-input .register-heading {
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 5vh; }
    .register-input .register-heading h1 {
      height: 50%;
      width: 100%;
      font-size: 2em;
      color: #57BDE8;
      text-align: center; }
  .register-input .register-input-fields {
    height: 65%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3vh; }
    .register-input .register-input-fields input {
      height: 10%;
      width: 100%;
      margin: auto;
      border-color: #57BDE8;
      text-align: center;
      border-radius: 10px;
      font-size: 1em; }
    .register-input .register-input-fields button {
      background: #57BDE8;
      color: #fff;
      height: 20%;
      width: 65%;
      border-radius: 10px;
      margin: auto;
      font-size: 1.5em;
      border: none;
      font-family: "Source Sans Pro", sans-serif; }
    .register-input .register-input-fields button:hover {
      cursor: pointer;
      background: #2AABE2; }
  .register-input .home-modal-register-footer {
    height: 40%;
    width: 100%;
    text-align: center; }
    .register-input .home-modal-register-footer div {
      margin-top: 6vh; }
      .register-input .home-modal-register-footer div span {
        color: #57BDE8; }
      .register-input .home-modal-register-footer div span:hover {
        text-decoration: underline;
        color: #2AABE2;
        cursor: pointer; }

.home-cont {
  background: #292c2f;
  height: 120vh;
  width: 100%;
  text-align: center; }
  .home-cont header {
    background: #fff;
    height: 10vh;
    width: 100%;
    padding-top: 3vh; }
    .home-cont header div {
      background: url("../../img/logowhiteblue.png") center no-repeat;
      background-size: contain;
      height: 6vh;
      width: 20%; }
  .home-cont .login-register-cont {
    background: url("../../img/therainbowthings.jpg") center no-repeat;
    background-size: cover;
    height: 87vh;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center; }
    .home-cont .login-register-cont .app-info {
      height: 57vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .home-cont .login-register-cont .app-info .app-name {
        height: 20vh;
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 5em; }
    .home-cont .login-register-cont .login-register-buttons {
      height: 30vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      background: rgba(166, 166, 166, 0.2); }
      .home-cont .login-register-cont .login-register-buttons button {
        height: 15vh;
        margin: auto;
        width: 37%;
        background: #57BDE8;
        color: #fff;
        font-size: 3em;
        border: none;
        font-family: "Source Sans Pro", sans-serif;
        border-radius: 10px; }
      .home-cont .login-register-cont .login-register-buttons button:hover {
        cursor: pointer;
        background: #2AABE2; }
  .home-cont .footer-cont {
    height: 20vh;
    width: 100%;
    background: #292c2f;
    display: flex;
    flex-direction: row; }
    .home-cont .footer-cont .footer-img-cont {
      width: 50%;
      height: 100%; }
      .home-cont .footer-cont .footer-img-cont div {
        width: 50%;
        height: 100%;
        margin: auto;
        background: url("../../img/logo_whiteletters.png") no-repeat center;
        background-size: contain; }
    .home-cont .footer-cont .social-media-cont {
      height: 20vh;
      width: 50%; }
      .home-cont .footer-cont .social-media-cont .social-media {
        margin: auto;
        height: 10vh;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5vh; }
        .home-cont .footer-cont .social-media-cont .social-media div {
          height: 35px;
          width: 35px;
          background: #33383b;
          margin-top: 2vh; }
        .home-cont .footer-cont .social-media-cont .social-media div:hover {
          cursor: pointer; }
        .home-cont .footer-cont .social-media-cont .social-media .facebook {
          background: url("../../img/icons/facebook.png") center no-repeat;
          background-size: cover; }
        .home-cont .footer-cont .social-media-cont .social-media .twitter {
          background: url("../../img/icons/twitter.svg") center no-repeat;
          background-size: cover; }
        .home-cont .footer-cont .social-media-cont .social-media .instagram {
          background: url("../../img/icons/instagram.svg") center no-repeat;
          background-size: cover; }
        .home-cont .footer-cont .social-media-cont .social-media .linked-in {
          background: url("../../img/icons/linkedin.svg") center no-repeat;
          background-size: cover; }

.user-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(102, 102, 102, 0.8); }

.user-modal-cont {
  height: 80vh;
  width: 60%;
  position: fixed;
  z-index: 100;
  left: 20%;
  top: 10vh;
  background: #fff;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden; }
  .user-modal-cont .yesorno-type {
    color: #57BDE8;
    font-size: 2em;
    text-align: center;
    margin-top: 15px; }
  .user-modal-cont .yesorno-cont {
    background: #a2a2a2;
    margin: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px; }
    .user-modal-cont .yesorno-cont .yesorno-question {
      width: 95%;
      margin: auto;
      height: 5vh; }
    .user-modal-cont .yesorno-cont .yes-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .yesorno-cont .yes-cont input {
        display: inline-block;
        border-radius: 10px; }
      .user-modal-cont .yesorno-cont .yes-cont .yesorno-checkbox {
        display: inline-block; }
    .user-modal-cont .yesorno-cont .yes-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .yesorno-cont .no-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .yesorno-cont .no-cont input {
        display: inline-block; }
      .user-modal-cont .yesorno-cont .no-cont .yesorno-checkbox {
        display: inline-block; }
    .user-modal-cont .yesorno-cont .no-cont:hover {
      background: #57BDE8; }
  .user-modal-cont .multiple-choice-type {
    color: #57BDE8;
    font-size: 2em;
    text-align: center;
    margin-top: 15px; }
  .user-modal-cont .multiple-choice-cont {
    background: #a2a2a2;
    margin: 15px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px; }
    .user-modal-cont .multiple-choice-cont .multiple-choice-question {
      width: 95%;
      margin: auto;
      height: 5vh; }
    .user-modal-cont .multiple-choice-cont .option1-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .multiple-choice-cont .option1-cont input {
        display: inline-block;
        border-radius: 10px; }
      .user-modal-cont .multiple-choice-cont .option1-cont .multiple-choice-checkbox {
        display: inline-block; }
    .user-modal-cont .multiple-choice-cont .option1-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .multiple-choice-cont .option2-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .multiple-choice-cont .option2-cont input {
        display: inline-block; }
      .user-modal-cont .multiple-choice-cont .option2-cont .multiple-choice-checkbox {
        display: inline-block; }
    .user-modal-cont .multiple-choice-cont .option2-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .multiple-choice-cont .option3-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .multiple-choice-cont .option3-cont input {
        display: inline-block; }
      .user-modal-cont .multiple-choice-cont .option3-cont .multiple-choice-checkbox {
        display: inline-block; }
    .user-modal-cont .multiple-choice-cont .option3-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .multiple-choice-cont .option4-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .multiple-choice-cont .option4-cont input {
        display: inline-block; }
      .user-modal-cont .multiple-choice-cont .option4-cont .multiple-choice-checkbox {
        display: inline-block; }
    .user-modal-cont .multiple-choice-cont .option4-cont:hover {
      background: #57BDE8; }
  .user-modal-cont .ranking-type {
    color: #57BDE8;
    font-size: 2em;
    text-align: center;
    margin-top: 15px; }
  .user-modal-cont .ranking-cont {
    background: #a2a2a2;
    margin: 15px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px; }
    .user-modal-cont .ranking-cont .ranking-question {
      width: 95%;
      margin: auto;
      height: 5vh; }
    .user-modal-cont .ranking-cont .ranking1-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .ranking-cont .ranking1-cont input {
        display: inline-block;
        border-radius: 10px; }
      .user-modal-cont .ranking-cont .ranking1-cont .ranking-checkbox {
        display: inline-block; }
    .user-modal-cont .ranking-cont .ranking1-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .ranking-cont .ranking2-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .ranking-cont .ranking2-cont input {
        display: inline-block; }
      .user-modal-cont .ranking-cont .ranking2-cont .ranking-checkbox {
        display: inline-block; }
    .user-modal-cont .ranking-cont .ranking2-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .ranking-cont .ranking3-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .ranking-cont .ranking3-cont input {
        display: inline-block; }
      .user-modal-cont .ranking-cont .ranking3-cont .ranking-checkbox {
        display: inline-block; }
    .user-modal-cont .ranking-cont .ranking3-cont:hover {
      background: #57BDE8; }
    .user-modal-cont .ranking-cont .ranking4-cont {
      width: 90%;
      margin: auto;
      height: 5vh; }
      .user-modal-cont .ranking-cont .ranking4-cont input {
        display: inline-block; }
      .user-modal-cont .ranking-cont .ranking4-cont .ranking-checkbox {
        display: inline-block; }
    .user-modal-cont .ranking-cont .ranking4-cont:hover {
      background: #57BDE8; }
  .user-modal-cont .text-field-type {
    color: #57BDE8;
    font-size: 2em;
    text-align: center;
    margin-top: 15px; }
  .user-modal-cont .text-field-cont {
    background: #a2a2a2;
    margin: 15px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px; }
    .user-modal-cont .text-field-cont .text-field-question {
      width: 95%;
      margin: auto;
      height: 5vh; }
    .user-modal-cont .text-field-cont .text-field-input {
      width: 80%;
      margin: auto;
      text-align: left;
      border-radius: 10px;
      height: 5vh;
      border: solid #57BDE8 2px; }
  .user-modal-cont .submit-survey-cont {
    width: 100%;
    height: 5vh;
    margin-bottom: 3vh;
    position: relative; }
    .user-modal-cont .submit-survey-cont .submit-survey {
      margin: auto;
      height: 5vh;
      width: 15%;
      border: none;
      background: #57BDE8;
      border-radius: 7px;
      position: absolute;
      left: 40%; }
    .user-modal-cont .submit-survey-cont .submit-survey:hover {
      background: #2AABE2;
      cursor: pointer; }

.user-modal-cont:hover {
  overflow: scroll; }

.user-home-cont {
  height: 100vh;
  width: 100%; }
  .user-home-cont .user-home-header {
    background: #292c2f;
    height: 10vh;
    width: 100%;
    padding-top: 3vh; }
    .user-home-cont .user-home-header .user-home-logo {
      background: url("../../img/logo_whiteletters.png") center no-repeat;
      background-size: contain;
      height: 6vh;
      width: 20%; }
  .user-home-cont .user-home-cont-surveys {
    height: 70vh;
    width: 100%; }
    .user-home-cont .user-home-cont-surveys .user-home-surveys-header {
      width: 40%;
      height: 70vh;
      float: left;
      text-align: center; }
      .user-home-cont .user-home-cont-surveys .user-home-surveys-header h1 {
        font-family: "Source Sans Pro", sans-serif;
        color: #57BDE8;
        font-size: 3em;
        margin-top: 19vh; }
    .user-home-cont .user-home-cont-surveys .user-home-incomplete-surveys {
      height: 70vh;
      width: 60%;
      float: left; }
      .user-home-cont .user-home-cont-surveys .user-home-incomplete-surveys .user-home-survey-display-cont {
        width: 70%;
        height: 60vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; }
        .user-home-cont .user-home-cont-surveys .user-home-incomplete-surveys .user-home-survey-display-cont .user-home-survey-display {
          width: 100%; }
          .user-home-cont .user-home-cont-surveys .user-home-incomplete-surveys .user-home-survey-display-cont .user-home-survey-display div {
            background: #57BDE8;
            margin: auto;
            margin-top: 2vh;
            width: 80%;
            height: 10vh;
            text-align: center;
            border-radius: 10px; }
          .user-home-cont .user-home-cont-surveys .user-home-incomplete-surveys .user-home-survey-display-cont .user-home-survey-display div:hover {
            cursor: pointer;
            background: #2AABE2; }
  .user-home-cont .footer-cont {
    height: 20vh;
    width: 100%;
    background: #292c2f;
    display: flex;
    flex-direction: row; }
    .user-home-cont .footer-cont .footer-img-cont {
      width: 50%;
      height: 100%; }
      .user-home-cont .footer-cont .footer-img-cont div {
        width: 50%;
        height: 100%;
        margin: auto;
        background: url("../../img/logo_whiteletters.png") no-repeat center;
        background-size: contain; }
    .user-home-cont .footer-cont .social-media-cont {
      height: 20vh;
      width: 50%; }
      .user-home-cont .footer-cont .social-media-cont .social-media {
        margin: auto;
        height: 10vh;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5vh; }
        .user-home-cont .footer-cont .social-media-cont .social-media div {
          height: 35px;
          width: 35px;
          background: #33383b;
          margin-top: 2vh; }
        .user-home-cont .footer-cont .social-media-cont .social-media div:hover {
          cursor: pointer; }
        .user-home-cont .footer-cont .social-media-cont .social-media .facebook {
          background: url("../../img/icons/facebook.png") center no-repeat;
          background-size: cover; }
        .user-home-cont .footer-cont .social-media-cont .social-media .twitter {
          background: url("../../img/icons/twitter.svg") center no-repeat;
          background-size: cover; }
        .user-home-cont .footer-cont .social-media-cont .social-media .instagram {
          background: url("../../img/icons/instagram.svg") center no-repeat;
          background-size: cover; }
        .user-home-cont .footer-cont .social-media-cont .social-media .linked-in {
          background: url("../../img/icons/linkedin.svg") center no-repeat;
          background-size: cover; }
