
.user-modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(102, 102, 102, 0.3); }

.user-modal {
  height: 80vh;
  width: 50%;
  top: 10vh;
  left: 25%;
  background: white;
  position: fixed;
  z-index: 200;
  opacity: .99;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center; }
  .user-modal div {
    background: purple;
    width: 75%;
    margin: auto; }
    .user-modal div div {
      color: blue;
      height: 15px;
      width: 75%;
      margin: auto; }
  .user-modal button {
    margin-bottom: 5%;
    width: 50%;
    height: 30px;
    margin: auto; }

.admin-cont {
  background: blue;
  height: 100vh;
  width: 100%; }
  .admin-cont header {
    background: red;
    height: 10vh;
    width: 100%; }
  .admin-cont .survey-cont {
    background: pink;
    height: 70vh;
    width: 100%;
    text-align: center; }
    .admin-cont .survey-cont section {
      background: violet;
      height: 70vh;
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .admin-cont .survey-cont section .admin-survey-display {
        height: 7vh;
        width: 80%;
        margin: auto;
        background: grey;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .admin-cont .survey-cont section .admin-survey-display div {
          font-size: 1.5em;
          margin: 1vh; }
        .admin-cont .survey-cont section .admin-survey-display button {
          height: 5vh;
          margin: 1vh; }
  .admin-cont .admin-create-cont {
    background: yellow;
    height: 20vh;
    width: 100%;
    text-align: center; }
    .admin-cont .admin-create-cont section {
      background: purple;
      height: 20vh;
      width: 70%;
      text-align: center;
      margin: auto; }
      .admin-cont .admin-create-cont section button {
        background: blue;
        height: 10vh;
        width: 80%;
        text-align: center;
        margin: 5vh; }
      .admin-cont .admin-create-cont section button:hover {
        cursor: pointer;
        background: green; }


.navagation {
  display: inline-block; }

.survey-questions {
  width: 63%;
  height: 100vh;
  float: left;
  border: solid 1px pink;
  padding: 5px; }
  .survey-questions div {
    width: 100%;
    height: 200px;
    background: grey;
    margin-bottom: 5px; }

.survey-format {
  width: 34%;
  height: 100vh;
  float: left;
  border: solid 1px blue;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center; }
  .survey-format button {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto; }
  .survey-format button:hover {
    cursor: pointer; }

.home-cont {
  background: lightblue;
  height: 100vh;
  width: 100%;
  text-align: center; }
  .home-cont header {
    background: blue;
    height: 10vh;
    width: 100%; }
  .home-cont section {
    background: maroon;
    height: 90vh;
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center; }
    .home-cont section .home-login-cont {
      background: purple; }
    .home-cont section .login-input {
      height: 100vh;
      width: 70%; }
    .home-cont section .home-register-cont {
      background: lightgreen; }
    .home-cont section button {
      height: 10vh;
      margin: auto;
      width: 70%; }

.user-cont {
  background: green;
  height: 100vh;
  width: 100%; }
  .user-cont section {
    background: yellow;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .user-cont section div {
      background: grey;
      margin: auto;
      width: 50%;
      height: 30px;
      text-align: center; }
